.content,
.article-header,
.article-footer,
.article-meta,
.article-entry >h2,
.article-entry >h3,
.article-entry >h4,
.article-entry >ol,
.article-entry >ul,
.article-entry >p,
.article-entry >blockquote,
.comments {
  max-width: 768px;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
}
.widget ul {
  list-style: none;
  padding-left: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
h1,
h2,
h3,
h4 {
  font-family: 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
  color: #1976d2;
}
.d-flex {
  display: flex;
}
.ml-auto {
  margin-left: auto;
}
.ml-1 {
  margin-left: 0.5rem;
}
.mr-1 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.mr-2 {
  margin-right: 1rem;
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar .branding {
  padding: 0;
  margin: 0;
}
.sidebar {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgba(0,0,0,0.03);
  margin-top: 5rem;
}
.sidebar .pure-u-1 {
  display: flex;
  justify-content: center;
}
.widget-wrap {
  padding: 2rem;
}
.widget-title {
  font-size: 0.875rem;
  color: #808080;
}
.widget {
  line-height: 1.6;
}
.mobile-nav {
  display: none;
}
.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.6;
  background-color: rgba(0,0,0,0.9);
}
.footer,
.footer a {
  color: #fff;
}
.archives-wrap {
  margin-top: 5rem;
}
.archive-article-header {
  margin-top: 3rem;
}
.article {
  margin-top: 5rem;
}
.article-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-date {
  font-size: 0.75em;
  color: #808080;
}
.article-date time + time {
  margin-left: 1em;
}
.article-category .pure-button + .pure-button {
  margin-left: 1em;
}
.article-entry >ol >li,
.article-entry >ul >li {
  margin-left: 1.5rem;
}
.article-entry li + li {
  margin-top: 0.5rem;
}
.article-entry p {
  line-height: 1.6;
}
.article-entry >blockquote >p {
  padding: 1rem;
  margin: 0;
  border-left: 4px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.05);
  color: #808080;
}
.article-entry >blockquote >p:first-child {
  border-top-right-radius: 0.25rem;
}
.article-entry >blockquote >p:last-child {
  border-bottom-right-radius: 0.25rem;
}
.article-entry .has-img {
  max-width: none;
  padding-right: 0;
  padding-left: 0;
  background: rgba(0,0,0,0.05);
}
.article-entry .has-img img {
  display: block;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.article-entry .has-img .caption {
  display: none;
/*
      padding .5rem 2rem
      text-align center
      line-height 1.6
      font-size .75rem
      color grey
      */
}
.article-footer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.article-tag-list {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: auto;
  list-style: none;
}
.article-tag-list li + li {
  margin-left: 1rem;
}
.article-nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 3rem;
  background-color: rgba(0,0,0,0.05);
}
.article-nav .content {
  display: flex;
  justify-content: space-between;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  height: 2em;
  padding: 0 0.5em;
  background: none;
  box-sizing: border-box;
  outline: none;
  border-radius: 3px 3px 0 0;
  border: none;
  line-height: 2em;
  color: #808080;
}
.article-share-links {
  display: flex;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: FontAwesome;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter {
  color: #00aced;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  color: #fff;
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook {
  color: #3b5998;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  color: #fff;
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest {
  color: #cb2027;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  color: #fff;
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google {
  color: #dd4b39;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  color: #fff;
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  padding: 0;
  margin: 0;
  overflow: auto;
  color: #ccc;
  line-height: 1.6;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 12px;
}
.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
}
.article-entry code {
  padding: 0.125rem 0.3rem;
  background-color: rgba(0,0,0,0.1);
  border-radius: 0.25rem;
  font-size: 14px;
  text-shadow: 0 1px #fff;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 12px;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter {
  padding: 1rem;
  padding-right: 0;
  background-color: rgba(0,0,0,0.5);
}
.article-entry .highlight .gutter pre {
  padding-right: 20px;
  background: none;
}
.article-entry .highlight .gutter pre .line {
  justify-content: flex-end;
}
.article-entry .highlight .code {
  width: 100%;
  padding-left: 1rem;
}
.article-entry .highlight .line {
  display: flex;
  align-items: center;
  height: 22.400000000000002px;
}
.article-entry .highlight .line.marked {
  background: #515151;
}
.article-entry .gist {
  margin: 0;
  border-style: solid;
  border-color: #2d2d2d;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 1rem 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 1rem;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #1976d2;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
.highlight .comment,
.highlight .title {
  color: #999;
}
.highlight .variable,
.highlight .attribute,
.highlight .tag,
.highlight .regexp,
.highlight.ruby .constant,
.highlight.xml .tag .title,
.highlight.xml .pi,
.highlight.xml .doctype,
.highlight.html .doctype,
.highlight.css .id,
.highlight.css .class,
.highlight.css .pseudo,
.highlight.php .meta {
  color: #f2777a;
}
.highlight .number,
.highlight .preprocessor,
.highlight .built_in,
.highlight .literal,
.highlight .params,
.highlight .constant {
  color: #f99157;
}
.highlight .class,
.highlight.ruby .class .title,
.highlight.css .rules .attribute {
  color: #9c9;
}
.highlight .string,
.highlight .value,
.highlight .inheritance,
.highlight .header,
.highlight.ruby .symbol,
.highlight.xml .cdata {
  color: #9c9;
}
.highlight.css .hexcolor {
  color: #6cc;
}
.highlight .function,
.highlight.python .decorator,
.highlight.python .title,
.highlight.ruby .function .title,
.highlight.ruby .title .keyword,
.highlight.perl .sub,
.highlight.javascript .title,
.highlight.coffeescript .title {
  color: #69c;
}
.highlight .keyword,
.highlight.javascript .function {
  color: #c9c;
}
.comments {
  margin-top: 3rem;
}
